<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="tradingApi" type="TradingApi.Configuration.TradingApiConfigurationSection, RESTWebServices.Configuration"/>
  </configSections>
  <tradingApi>
    <profiles>
      <profile name="" version="1.1">
        <xDomainPolicy allowAccessFrom="*"/>
        <dtoAssemblies>
          <add assembly="MetadataProcessor.Tests, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        </dtoAssemblies>
        <routes>
          <add name="session"                   endpoint="/session"                 urlPattern="$"                        pathInfo="/"                      filePath="~/Session.svc"                type="MetadataProcessor.Tests.TestEndpoint.ITestService, MetadataProcessor.Tests, Version=1.0.0.0"/>
          <add name="session_logout"            endpoint="/session"                 urlPattern="/(\w+)$"                  pathInfo="/${match1}"             filePath="~/Session.svc"                type="MetadataProcessor.Tests.TestEndpoint.ITestService, MetadataProcessor.Tests, Version=1.0.0.0"/>
        </routes>
      </profile>
    </profiles>
  </tradingApi>
</configuration>
